In [1]:
import pandas as pd
import numpy as np
import psycopg2
import pgspecial
import pprint
import warnings
warnings.filterwarnings("ignore")

In [2]:
animaux_df = pd.read_csv("fr_animaux.csv", sep=",")
cereales_df = pd.read_csv("fr_céréales.csv", sep=",")
population_df = pd.read_csv("fr_population.csv", sep=",")
sousalimentation_df = pd.read_csv("fr_sousalimentation.csv", sep=",")
vegetaux_df = pd.read_csv("fr_vegetaux.csv", sep=",")

"Créez un dataframe contenant les informations de population de chaque pays. Calculez le nombre total d’humains sur la planète. Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires."

## "Question 1 : : donnez le résultat de votre calcul pour l'année 2013."

In [3]:
population_df[population_df['Zone'].str.contains('Chine')][['Code zone', 'Zone', 'Valeur']]
#affichage des zones "Chine"

    Code zone                      Zone   Valeur
33        351                     Chine  1416667
34         96  Chine - RAS de Hong-Kong     7204
35        128      Chine - RAS de Macao      566
36         41        Chine continentale  1385567
37        214  Taiwan Province de Chine    23330

In [4]:
population_df = population_df[population_df['Code zone'] != 351] 
animaux_df = animaux_df[animaux_df['Code zone'] != 351]
cereales_df = cereales_df[cereales_df['Code zone'] != 351] 
sousalimentation_df = sousalimentation_df[sousalimentation_df['Code zone'] != 351] 
vegetaux_df = vegetaux_df[vegetaux_df['Code zone'] != 351] 
#suppression de la ligne Chine qui est un aggrégat de la Chine continentale et de ses territoires indépendants

In [5]:
population_mondiale = population_df['Valeur'].sum() * 1000 
population_mondiale_miard = population_df['Valeur'].sum() / 1000000
print('La population mondiale en 2013 était de ' + str(population_mondiale) + ", soit " + str(population_mondiale_miard) + " milliards.")

La population mondiale en 2013 était de 6997326000, soit 6.997326 milliards.

In [6]:
#Selon l'ONU, la population mondiale était de 6.956824 en 2010, et de 7379797 en 2015, soit +6.08%. 
#En 2013 elle aurait donc dû être supérieure.
#source : https://fr.wikipedia.org/wiki/Population_mondiale#%C3%89volution_depuis_1950

nbre_pays_fao = len(population_df)
print('La FAO recense ' + str(nbre_pays_fao) + ' pays')

La FAO recense 174 pays

Or les nations unies recensent 193 pays. La population mondiale est donc sous évaluée par la FAO.
source : https://fr.wikipedia.org/wiki/Liste_des_%C3%89tats_membres_de_l%27Organisation_des_Nations_unies

## "Question 2 : Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique"

In [7]:
#Variation = disponibilité intérieure + exportations - production - importation
#Pertes = disponibilité intérieure - semences - autres utilisations - nourriture - aliments - traitement
#Disponibilité intérieure = variation - exportations + production + importations
#Disponibilité intérieure = pertes + semences + autres utilisations + nourriture + aliments pour animaux + traitement

"Illustrez cette équation avec l'exemple du blé en France."

In [8]:
#création d'un dataframe Blé en France
bleFr = vegetaux_df.loc[(vegetaux_df['Zone'] == 'France') & (vegetaux_df['Produit'] == 'Blé')]
bleFr.reset_index(drop=True)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.00,S,Données standardisées
5,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.00,S,Données standardisées
6,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.00,S,Données standardisées
7,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.00,S,Données standardisées
8,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.00,S,Données standardisées
9,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5154,Autres utilisations (non alimentaire),2511,Blé,2013,2013,Milliers de tonnes,2824.00,S,Données standardisées
10,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.00,S,Données standardisées
11,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé,2013,2013,kg,108.43,Fc,Donnée calculée
12,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,664,Disponibilité alimentaire (Kcal/personne/jour),2511,Blé,2013,2013,Kcal/personne/jour,811.00,Fc,Donnée calculée
13,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,674,Disponibilité de protéines en quantité (g/pers...,2511,Blé,2013,2013,g/personne/jour,25.99,Fc,Donnée calculée
14,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,684,Disponibilité de matière grasse en quantité (g...,2511,Blé,2013,2013,g/personne/jour,4.20,Fc,Donnée calculée

In [9]:
#Disponibilité intérieure selon la ligne correspondante du dataframe
bleFr.iloc[4]['Valeur']

20298.0

In [10]:
prod=int(bleFr[bleFr["Élément"]=="Production"].Valeur)
importa=int(bleFr[bleFr["Élément"]=="Importations - Quantité"].Valeur)
export=int(bleFr[bleFr["Élément"]=="Exportations - Quantité"].Valeur)
variation=int(bleFr[bleFr["Élément"]=="Variation de stock"].Valeur)
dispo=int(bleFr[bleFr["Élément"]=="Disponibilité intérieure"].Valeur)
semences=int(bleFr[bleFr["Élément"]=="Semences"].Valeur)
pertes=int(bleFr[bleFr["Élément"]=="Pertes"].Valeur)
nourriture=int(bleFr[bleFr["Élément"]=="Nourriture"].Valeur)
aliments=int(bleFr[bleFr["Élément"]=="Aliments pour animaux"].Valeur)
traitement=int(bleFr[bleFr["Élément"]=="Traitement"].Valeur)
autre=int(bleFr[bleFr["Élément"]=="Autres utilisations (non alimentaire)"].Valeur)

In [11]:
print(variation== dispo+ export- prod- importa)
dispo+ export- prod- importa

True

1131

In [12]:
print(pertes==dispo-semences-autre-nourriture-aliments-traitement)
dispo-semences-autre-nourriture-aliments-traitement

True

358

In [13]:
print(dispo==variation-export+prod+importa)
variation-export+prod+importa

True

20298

In [14]:
print(dispo==pertes+semences+autre+nourriture+aliments+traitement)
pertes+semences+autre+nourriture+aliments+traitement

True

20298

## "Question 3 : Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines."

In [15]:
#Création de deux dataframes animaux et végétaux, et jointure sous bilan_alim
bilan_alim_anim = animaux_df
bilan_alim_anim['origine'] = 'animal'
bilan_alim_veg = vegetaux_df
bilan_alim_veg['origine'] = 'vegetal'
bilan_alim = pd.concat([bilan_alim_anim, bilan_alim_veg], ignore_index=True)

#Passage des colonnes en ligne
bilan_alim = pd.pivot_table(bilan_alim, index=['Code zone', 'Zone', 'Code Produit', 'Produit', 'origine'], columns = 'Élément', values = 'Valeur', aggfunc=np.sum).reset_index()
bilan_alim.columns.name = None
bilan_alim = bilan_alim.rename(columns = {'Zone' : 'pays', 
                                          'Code zone' : 'code_pays', 
                                          'Produit' : 'produit', 
                                          'Code Produit' : 'code_produit', 
                                          'Année' : 'annee',
                                          'Aliments pour animaux' : 'alim_animaux',
                                          'Autres utilisations (non alimentaire)' : 'autres',
                                          'Disponibilité alimentaire (Kcal/personne/jour)' : 'dispo_kcal_p_j',
                                          'Disponibilité alimentaire en quantité (kg/personne/an)' : 'dispo_kg_p',
                                          'Disponibilité de matière grasse en quantité (g/personne/jour)' : 'dispo_mat_g_p_j',
                                          'Disponibilité de protéines en quantité (g/personne/jour)' : 'dispo_prot_g_p_j',
                                          'Disponibilité intérieure': 'dispo_int',
                                          'Exportations - Quantité' : 'exports',
                                          'Importations - Quantité' : 'imports',
                                          'Nourriture' : 'nourriture',
                                          'Pertes' : 'pertes',
                                          'Production' : 'prod',
                                          'Semences' : 'semences',
                                          'Traitement' : 'traitement',
                                          'Variation de stock' : 'var_stock'})

population_df = population_df.rename(columns = {'Zone' : 'pays', 
                                          'Code zone' : 'code_pays',
                                          'Produit' : 'produit',
                                          'Unité' : 'unité',
                                          'Valeur' : 'population',
                                          'Année' : 'annee'})

In [16]:
#jointure entre le dataframe population_df et le bilan_alim, et suppression de colonnes inutiles
bilan_alim = pd.merge(bilan_alim, population_df, on =['pays', 'code_pays'])
bilan_alim.drop(['Symbole', 'Description du Symbole', 'Code Domaine', 'Domaine', 'Code année', 'Élément','Code Élément', "Code Produit", "annee"], axis=1)

,code_pays,pays,code_produit,produit_x,origine,alim_animaux,autres,dispo_kcal_p_j,dispo_kg_p,dispo_mat_g_p_j,...,imports,nourriture,pertes,prod,semences,traitement,var_stock,produit_y,unité,population
0,1,Arménie,2511,Blé,vegetal,93.0,0.0,1024.0,130.60,3.60,...,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,Population,1000 personnes,2977
1,1,Arménie,2513,Orge,vegetal,137.0,26.0,0.0,0.00,0.00,...,9.0,0.0,15.0,189.0,14.0,7.0,0.0,Population,1000 personnes,2977
2,1,Arménie,2514,Maïs,vegetal,96.0,NaN,0.0,0.03,NaN,...,82.0,0.0,7.0,21.0,0.0,NaN,NaN,Population,1000 personnes,2977
3,1,Arménie,2515,Seigle,vegetal,1.0,NaN,1.0,0.12,0.00,...,0.0,0.0,0.0,1.0,0.0,NaN,0.0,Population,1000 personnes,2977
4,1,Arménie,2516,Avoine,vegetal,4.0,NaN,2.0,0.37,0.03,...,1.0,1.0,0.0,5.0,0.0,NaN,NaN,Population,1000 personnes,2977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15410,276,Soudan,2763,Poissons Pelagiques,animal,NaN,0.0,0.0,0.00,0.00,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,Population,1000 personnes,37964
15411,276,Soudan,2764,"Poissons Marins, Autres",animal,NaN,0.0,0.0,0.13,0.01,...,NaN,5.0,NaN,5.0,NaN,NaN,NaN,Population,1000 personnes,37964
15412,276,Soudan,2805,Riz (Eq Blanchi),vegetal,NaN,NaN,14.0,1.27,0.05,...,33.0,48.0,NaN,17.0,1.0,NaN,0.0,Population,1000 personnes,37964
15413,276,Soudan,2848,Lait - Excl Beurre,animal,NaN,0.0,315.0,155.20,20.01,...,232.0,5892.0,NaN,5660.0,NaN,0.0,NaN,Population,1000 personnes,37964
15414,276,Soudan,2899,Miscellanees,vegetal,NaN,NaN,7.0,NaN,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Population,1000 personnes,37964

In [17]:
#Colonne disponibilité alimentaire en kcal total pour chaque pays et chaque produit
bilan_alim['dispo_alim_kcal'] = bilan_alim['dispo_kcal_p_j']* (bilan_alim['population']*1000)* 365

In [18]:
#Colonne disponibilité alimentaire en protéines pour chaque pays et chaque produit
bilan_alim['dispo_alim_prot'] = (bilan_alim['dispo_prot_g_p_j'] / 1000) * (bilan_alim['population']*1000) * 365

In [19]:
bilan_alim_q3 = bilan_alim[['pays', 'produit_x', 'dispo_alim_kcal', 'dispo_alim_prot']]
bilan_alim_q3

          pays                produit_x  dispo_alim_kcal  dispo_alim_prot
0      Arménie                      Blé     1.112684e+12     3.316318e+07
1      Arménie                     Orge     0.000000e+00     0.000000e+00
2      Arménie                     Maïs     0.000000e+00     1.086605e+04
3      Arménie                   Seigle     1.086605e+09     2.173210e+04
4      Arménie                   Avoine     2.173210e+09     9.779445e+04
...        ...                      ...              ...              ...
15410   Soudan      Poissons Pelagiques     0.000000e+00     0.000000e+00
15411   Soudan  Poissons Marins, Autres     0.000000e+00     5.542744e+05
15412   Soudan         Riz (Eq Blanchi)     1.939960e+11     3.879921e+06
15413   Soudan       Lait - Excl Beurre     4.364911e+12     2.182455e+08
15414   Soudan             Miscellanees     9.699802e+10     2.036958e+07

[15415 rows x 4 columns]

## "Question 4 : A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg."

In [20]:
#Colonne ratio énergie/poids
bilan_alim['ratio_energie'] = bilan_alim['dispo_alim_kcal']/(bilan_alim['dispo_kg_p']*1000*bilan_alim['population'])

In [21]:
bilan_alim_q4 = bilan_alim[['pays', 'produit_x', 'dispo_alim_kcal', 'dispo_alim_prot','ratio_energie']]
bilan_alim_q4

,pays,produit_x,dispo_alim_kcal,dispo_alim_prot,ratio_energie
0,Arménie,Blé,1.112684e+12,3.316318e+07,2861.868300
1,Arménie,Orge,0.000000e+00,0.000000e+00,NaN
2,Arménie,Maïs,0.000000e+00,1.086605e+04,0.000000
3,Arménie,Seigle,1.086605e+09,2.173210e+04,3041.666667
4,Arménie,Avoine,2.173210e+09,9.779445e+04,1972.972973
...,...,...,...,...,...
15410,Soudan,Poissons Pelagiques,0.000000e+00,0.000000e+00,NaN
15411,Soudan,"Poissons Marins, Autres",0.000000e+00,5.542744e+05,0.000000
15412,Soudan,Riz (Eq Blanchi),1.939960e+11,3.879921e+06,4023.622047
15413,Soudan,Lait - Excl Beurre,4.364911e+12,2.182455e+08,740.818299
15414,Soudan,Miscellanees,9.699802e+10,2.036958e+07,NaN

"En suivant la même méthodologie, calculez également le pourcentage de protéines de chaque produit (pour chaque pays). 
Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total" (attention aux unités utilisées). 
Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la teneur en protéines de l'avoine."

In [22]:
#Colonne pourcentage de protéines
bilan_alim['proteines (%)'] = (bilan_alim['dispo_alim_prot'] /(bilan_alim['dispo_kg_p']*1000*bilan_alim['population'])) * 100

In [23]:
bilan_alim_q4b = bilan_alim[['pays', 'produit_x', 'dispo_alim_kcal', 'dispo_alim_prot','ratio_energie','proteines (%)']]
bilan_alim_q4b

,pays,produit_x,dispo_alim_kcal,dispo_alim_prot,ratio_energie,proteines (%)
0,Arménie,Blé,1.112684e+12,3.316318e+07,2861.868300,8.529709
1,Arménie,Orge,0.000000e+00,0.000000e+00,NaN,NaN
2,Arménie,Maïs,0.000000e+00,1.086605e+04,0.000000,12.166667
3,Arménie,Seigle,1.086605e+09,2.173210e+04,3041.666667,6.083333
4,Arménie,Avoine,2.173210e+09,9.779445e+04,1972.972973,8.878378
...,...,...,...,...,...,...
15410,Soudan,Poissons Pelagiques,0.000000e+00,0.000000e+00,NaN,NaN
15411,Soudan,"Poissons Marins, Autres",0.000000e+00,5.542744e+05,0.000000,11.230769
15412,Soudan,Riz (Eq Blanchi),1.939960e+11,3.879921e+06,4023.622047,8.047244
15413,Soudan,Lait - Excl Beurre,4.364911e+12,2.182455e+08,740.818299,3.704091
15414,Soudan,Miscellanees,9.699802e+10,2.036958e+07,NaN,NaN

## "Question 5 : Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.
Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne."

In [24]:
bilan_alim.head()

,code_pays,pays,code_produit,produit_x,origine,alim_animaux,autres,dispo_kcal_p_j,dispo_kg_p,dispo_mat_g_p_j,...,Code année,annee,unité,population,Symbole,Description du Symbole,dispo_alim_kcal,dispo_alim_prot,ratio_energie,proteines (%)
0,1,Arménie,2511,Blé,vegetal,93.0,0.0,1024.0,130.60,3.60,...,2013,2013,1000 personnes,2977,NaN,Donnée officielle,1.112684e+12,33163184.60,2861.868300,8.529709
1,1,Arménie,2513,Orge,vegetal,137.0,26.0,0.0,0.00,0.00,...,2013,2013,1000 personnes,2977,NaN,Donnée officielle,0.000000e+00,0.00,NaN,NaN
2,1,Arménie,2514,Maïs,vegetal,96.0,NaN,0.0,0.03,NaN,...,2013,2013,1000 personnes,2977,NaN,Donnée officielle,0.000000e+00,10866.05,0.000000,12.166667
3,1,Arménie,2515,Seigle,vegetal,1.0,NaN,1.0,0.12,0.00,...,2013,2013,1000 personnes,2977,NaN,Donnée officielle,1.086605e+09,21732.10,3041.666667,6.083333
4,1,Arménie,2516,Avoine,vegetal,4.0,NaN,2.0,0.37,0.03,...,2013,2013,1000 personnes,2977,NaN,Donnée officielle,2.173210e+09,97794.45,1972.972973,8.878378

In [25]:
# Supprimer les valeurs égales à 0 pour ne pas fausser le calcul de la moyenne
bilan_alim = bilan_alim[bilan_alim['dispo_kcal_p_j'] != 0]

# Grouper par 'produit_x' (les aliments) et calculer la moyenne des ratios énergie/poids
dispo_moy_energie = bilan_alim.groupby('produit_x')[['dispo_kcal_p_j', 'dispo_kg_p']].mean()

# Calculer le ratio énergie/poids moyen pour chaque aliment
dispo_moy_energie['ratio_energie'] = dispo_moy_energie['dispo_kcal_p_j'] / dispo_moy_energie['dispo_kg_p']

# Trier les aliments par ordre décroissant de ratio énergie/poids moyen
dispo_moy_energie = dispo_moy_energie.sort_values('ratio_energie', ascending=False)

# Obtenir les 5 aliments avec les ratios énergie/poids moyens les plus élevés
top_5_aliments = dispo_moy_energie.head(5)

print("Les 5 aliments parmi les 20 aliments les plus caloriques sont :")
print(top_5_aliments)

Les 5 aliments parmi les 20 aliments les plus caloriques sont :
                          dispo_kcal_p_j  dispo_kg_p  ratio_energie
produit_x
Huiles de Foie de Poisso        8.500000    0.327500      25.954198
Huiles de Poissons             25.750000    1.045000      24.641148
Huile de Sésame                 6.086207    0.249649      24.379044
Huile de Palme                 80.845455    3.326577      24.302899
Huile d'Olive                  21.119048    0.872143      24.215124

"Citez 5 aliments parmi les 20 aliments les plus riches en protéines."

In [26]:
# Supprimer les valeurs égales à 0 pour ne pas fausser le calcul de la moyenne
bilan_alim_prot = bilan_alim[bilan_alim['dispo_alim_prot'] != 0]

# Grouper par 'produit_x' (les aliments) et calculer la moyenne des ratios prot/poids
dispo_moy_prot = bilan_alim.groupby('produit_x')[['dispo_alim_prot', 'dispo_kg_p']].mean()

# Calculer le ratio prot/poids moyen pour chaque aliment
dispo_moy_prot['ratio_prot'] = dispo_moy_prot['dispo_alim_prot'] / dispo_moy_prot['dispo_kg_p']

# Trier les aliments par ordre décroissant de ratio prot/poids moyen
dispo_moy_prot = dispo_moy_prot.sort_values('ratio_prot', ascending=False)

# Obtenir les 5 aliments avec les ratios prot/poids moyens les plus élevés
top_5_aliments_prot = dispo_moy_prot.head(5)

# Sélectionner uniquement la colonne 'ratio_prot'
top_5_aliments_prot = top_5_aliments_prot[['ratio_prot']]

print("Les 5 aliments parmi les 20 aliments les plus riches en protéines sont :")
print(top_5_aliments_prot)

Les 5 aliments parmi les 20 aliments les plus riches en protéines sont :
                            ratio_prot
produit_x
Soja                      1.633774e+07
Légumineuses Autres       1.051356e+07
Haricots                  7.729308e+06
Plantes Oleiferes, Autre  7.725122e+06
Pois                      7.695422e+06

In [27]:
#Les résultats semblent cohérents avec les chiffres trouvés sur internet.

## Question 6 : Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

In [28]:
#Création d'un dataframe 'bilan_alim_veg' en ne conservant que les données d'origine végétale 
#et en supprimant les infinis et les nan
bilan_alim_veg = bilan_alim.loc[bilan_alim['origine'] == 'vegetal']
bilan_alim_veg = bilan_alim_veg.replace([-np.inf, np.inf], np.nan)

#Nombre de calories totales à partir de la disponibilité intérieure mondiale
bilan_alim_veg['dispo_int_kcal'] = (bilan_alim_veg['dispo_int'] * 1000000) * bilan_alim_veg['ratio_energie']
dispo_int_veg_kcal = round(bilan_alim_veg['dispo_int_kcal'].sum(skipna=True),2)
print('Disponibilité intérieure issue des produits d\'origine végétale : ' + str(dispo_int_veg_kcal) + ' kcal.')

Disponibilité intérieure issue des produits d'origine végétale : 9430750146809354.0 kcal.

## Question 7 : Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [29]:
#Les recommandations d'apport en énergie des adultes étant de 2 400 à 2 600 calories par jour pour un homme
#et de 1 800 à 2200 calories par jour pour les femmes, on peut considérer 2200 comme apport moyen recommandé pour un adulte
#source: https://www.vidal.fr/sante/nutrition/equilibre-alimentaire-adulte/recommandations-nutritionnelles-adulte.html
nbre_humains_kcal = bilan_alim_veg['dispo_int_kcal'].sum(skipna=True) / (2200 * 365)
prcent_humains_kcal = (nbre_humains_kcal /(population_df['population'].sum(skipna=True)*1000))* 100
print('Pourcentage d\'humains nourris avec les calories de la disponibilité intérieure : ' + str(prcent_humains_kcal) + " %")

bilan_alim_veg['dispo_int_prot'] = (bilan_alim_veg['dispo_int'] * 1000000) * (bilan_alim_veg['proteines (%)']/100)
dispo_int_veg_prot = round(bilan_alim_veg['dispo_int_prot'].sum(skipna=True),2)
print('Disponibilité intérieure issue des produits d\'origine végétale : ' + str(dispo_int_veg_prot) + ' kg de protéines.')

#Les recommandations d'apport en protéines sont en g de protéines /kg/jour. Vidal recommande ainsi 44g pour une femme de 
#55kg sédentaire. On peut considérer que la consommation moyenne en protéines nécessaire à un être humain 
#est de 50 g par jour.
nbre_humains_proteine = dispo_int_veg_prot / (50 * 1000 * 365)
pourcentage_humains_proteine = (nbre_humains_proteine / population_df['population'].sum(skipna=True)*1000) * 100
print('Pourcentage d\'humains nourris avec les protéines de la disponibilité intérieure : '  
     + str(pourcentage_humains_proteine) +  ' %')

Pourcentage d'humains nourris avec les calories de la disponibilité intérieure : 167.84120387945416 %
Disponibilité intérieure issue des produits d'origine végétale : 200398026835.69 kg de protéines.
Pourcentage d'humains nourris avec les protéines de la disponibilité intérieure : 156.9272862121315 %

## Question 8 : Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux, la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? 
Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [30]:
bilan_alim_veg['potentiel_kg'] = (bilan_alim_veg['nourriture'] + bilan_alim_veg['pertes'] + bilan_alim_veg['alim_animaux']) * 1000000
bilan_alim_veg['potentiel_kcal'] = bilan_alim_veg['potentiel_kg'] * bilan_alim_veg['ratio_energie']
potentiel_kcal_veg = bilan_alim_veg['potentiel_kcal'].sum(skipna=True)
print('Disponibilité alimentaire (nourriture, pertes et aliments pour animaux) : ' + str(potentiel_kcal_veg) + ' kcal.')

nb_humains_kcal_veg = potentiel_kcal_veg / (2000 * 365)
prcent_humains_kcal_veg =  (nb_humains_kcal_veg / (population_df['population'].sum(skipna=True)*1000)) * 100
print('Pourcentage d\'humains nourris avec la nourriture, les pertes et l\'alimentation animale : ' 
     + str(prcent_humains_kcal_veg) + " %")

bilan_alim_veg['potentiel_prot_kcal'] = bilan_alim_veg['potentiel_kg'] * (bilan_alim_veg['proteines (%)'] / 100)
potentiel_prot_veg = bilan_alim_veg['potentiel_prot_kcal'].sum(skipna=True)
print('Disponibilité alimentaire (nourriture, pertes et aliments pour animaux) : ' + str(potentiel_prot_veg) + ' kg de protéines.')

nb_humains_prot_veg = bilan_alim_veg['potentiel_prot_kcal'].sum(skipna=True) / ((50 / 1000) * 365)
prcent_humains_proteine_veg = (nb_humains_prot_veg / (population_df['population'].sum(skipna=True)*1000))*100
print('Pourcentage d\'humains nourris avec la nourriture, les pertes et l\'alimentation animale : ' 
     + str(prcent_humains_proteine_veg) + " %")

Disponibilité alimentaire (nourriture, pertes et aliments pour animaux) : 4371540009071772.0 kcal.
Pourcentage d'humains nourris avec la nourriture, les pertes et l'alimentation animale : 85.58142026441521 %
Disponibilité alimentaire (nourriture, pertes et aliments pour animaux) : 112027716324.5884 kg de protéines.
Pourcentage d'humains nourris avec la nourriture, les pertes et l'alimentation animale : 87.72644012994442 %

## Question 9 : Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? 
Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [31]:
bilan_alim['nourriture_kcal'] = (bilan_alim['nourriture']*1000000) * bilan_alim['ratio_energie']
bilan_alim = bilan_alim.replace([-np.inf, np.inf], np.nan)
nourriture_tot = bilan_alim['nourriture_kcal'].sum(skipna=True)
print('Nourriture d\'origine animale et végétale : ' + str(nourriture_tot) + ' kcal.')
nb_humain_kcal_nourriture = bilan_alim['nourriture_kcal'].sum(skipna=True) / (2000 * 365)
prcent_humains_kcal_nourriture =  (nb_humain_kcal_nourriture / (population_df['population'].sum(skipna=True)*1000)) * 100
print('Pourcentage d\'humains nourris avec la nourriture d\'origine animale et végétale : ' 
     + str(prcent_humains_kcal_nourriture) + " %")


bilan_alim['nourriture_prot'] = bilan_alim['nourriture'] * (bilan_alim['proteines (%)']/100)
nourriture_prot_tot = bilan_alim['nourriture_prot'].sum(skipna=True)
print('Nourriture d\'origine animale et végétale : ' + str(nourriture_prot_tot) + ' kg de protéines.')
nb_humains_proteine_nourriture = bilan_alim['nourriture_prot'].sum(skipna=True) / ((50 / 1000)* 365)
prcent_humains_proteine_nourriture = (nb_humains_proteine_nourriture/ population_df['population'].sum(skipna=True)*1000)  * 100
print('Pourcentage d\'humains nourris avec la nourriture d\'origine animale et végétale : ' 
     + str(prcent_humains_proteine_nourriture) + " %")

Nourriture d'origine animale et végétale : 5758834449236042.0 kcal.
Pourcentage d'humains nourris avec la nourriture d'origine animale et végétale : 112.74041418138836 %
Nourriture d'origine animale et végétale : 156485.26381371258 kg de protéines.
Pourcentage d'humains nourris avec la nourriture d'origine animale et végétale : 122.54016753672904 %

## Question 10 : A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : 
Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [32]:
sous_nutrition = sousalimentation_df
sous_nutrition = sous_nutrition.loc[sous_nutrition['Année'] == '2012-2014']
sous_nutrition = sous_nutrition.replace('<0.1', 0.1)
sous_nutrition = sous_nutrition.drop(columns= ['Code Domaine', 'Domaine', 'Code Élément', 'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité', 'Symbole', 'Description du Symbole', 'Note'])
population_df = population_df.drop(columns= ['Code Domaine', 'Domaine', 'Code Élément', 'Élément', 'Code Produit', 'Code année', 'Symbole', 'Description du Symbole'])
sous_nutrition = sous_nutrition.rename(columns = {'Code zone' : 'code_pays',
                                                  'Zone' : 'pays',
                                                  'Valeur' : 'nb_habitants'})
sous_nutrition = pd.merge(sous_nutrition, population_df, on=['pays', 'code_pays'])
sous_nutrition = sous_nutrition.astype({'nb_habitants' : 'float'})

prcent_ss_nutrition = round(((sous_nutrition['nb_habitants'].sum(skipna=True)*1000)/(sous_nutrition['population'].sum(skipna=True))*100),2)
print('Nombre de personnes sous-alimentés : ' + str(sous_nutrition['nb_habitants'].sum(skipna=True)) + ' milliers.')
print('Pourcentage de personnes sous-alimentés : ' + str(prcent_ss_nutrition) + '%')

Nombre de personnes sous-alimentés : 608.4000000000001 milliers.
Pourcentage de personnes sous-alimentés : 10.89%

Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO.
Repérez dans vos données les informations concernant les céréales (par exemple en créant une colonne de type booléen nommée "is_cereal").

In [33]:
cereales_consommable = cereales_df[['Produit','Code Produit']]
cereales_consommable = cereales_consommable.drop_duplicates()
cereales_consommable = cereales_consommable.rename(columns = {'Produit' : 'produit_x',
                                                              'Code Produit' : 'code_produit'})
cereales_consommable

           produit_x  code_produit
0                Blé          2511
1   Riz (Eq Blanchi)          2805
2               Orge          2513
3               Maïs          2514
4             Millet          2517
9             Seigle          2515
10            Avoine          2516
12            Sorgho          2518
13  Céréales, Autres          2520

## Question 11 : En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

In [34]:
cereales_alim = pd.merge(cereales_consommable,  bilan_alim_veg, on = 'produit_x')
cereales_tot_alim = cereales_alim['nourriture'].sum(skipna=True)
cereales_tot_anim = cereales_alim['alim_animaux'].sum(skipna=True)
print("Quantité de céréales destinée à l'alimentation totale : " + str(cereales_tot_alim) + " milliers de tonnes.")
print("Quantité de céréales nécessaires à l'alimentation animale : " + str(cereales_tot_anim) + " milliers de tonnes.")
print("Quantité de céréales restantes après suppression de l'alimentation animale : " + str(abs(cereales_tot_alim - cereales_tot_anim)) + " milliers de tonnes.")
ratio = cereales_tot_anim/(cereales_tot_alim + cereales_tot_anim) * 100
ratio = round(ratio, 2)
print("Ratio alimentation animale/alimentation totale : " + str(ratio) + " %")

Quantité de céréales destinée à l'alimentation totale : 817319.0 milliers de tonnes.
Quantité de céréales nécessaires à l'alimentation animale : 648996.0 milliers de tonnes.
Quantité de céréales restantes après suppression de l'alimentation animale : 168323.0 milliers de tonnes.
Ratio alimentation animale/alimentation totale : 44.26 %

Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition.
Repérez les 15 produits les plus exportés par ce groupe de pays.

In [35]:
sous_nutrition = sous_nutrition.sort_values('nb_habitants', ascending = False)
sous_nutrition = sous_nutrition.dropna()
bilan_alim_ss_nutrition = pd.merge(bilan_alim, sous_nutrition, on=['code_pays', 'pays', 'annee', 'population'])
bilan_alim_ss_nutrition = bilan_alim_ss_nutrition.groupby(['produit_x']).agg('sum')
bilan_alim_ss_nutrition = bilan_alim_ss_nutrition.sort_values('exports', ascending=False)
bilan_alim_ss_nutrition = bilan_alim_ss_nutrition.head(15)
bilan_alim_ss_nutrition = bilan_alim_ss_nutrition.reset_index()
print(bilan_alim_ss_nutrition['produit_x'])

0          Huile de Palme
1                    Maïs
2                  Manioc
3        Riz (Eq Blanchi)
4           Sucre Eq Brut
5                     Blé
6                 Bananes
7      Lait - Excl Beurre
8          Fruits, Autres
9     Poissons Pelagiques
10        Légumes, Autres
11                 Ananas
12    Oranges, Mandarines
13          Huile de Soja
14                Tomates
Name: produit_x, dtype: object

Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits
(1 importation = une quantité d'un produit donné importée par un pays donné)

In [36]:
produit_export_ss_alim = pd.DataFrame(bilan_alim_ss_nutrition['produit_x'])
bilan_alim_imports = pd.merge(bilan_alim, produit_export_ss_alim, on = ['produit_x'])
bilan_alim_imports = bilan_alim_imports.sort_values('imports', ascending=False)
bilan_alim_imports = bilan_alim_imports.iloc[0:200]
print(bilan_alim_imports[['code_pays', 'pays', 'produit_x', 'imports']])

      code_pays                                    pays           produit_x  \
2175        110                                   Japon                Maïs
40           59                                  Égypte                 Blé
2181        117                     République de Corée                Maïs
695         100                                    Inde      Huile de Palme
1981         79                               Allemagne  Lait - Excl Beurre
...         ...                                     ...                 ...
1598        255                                Belgique      Fruits, Autres
1992         96                Chine - RAS de Hong-Kong  Lait - Excl Beurre
163         238                                Éthiopie                 Blé
465         236  Venezuela (République bolivarienne du)       Sucre Eq Brut
355          79                               Allemagne       Sucre Eq Brut

      imports
2175  14403.0
40    10331.0
2181   8755.0
695    8568.0
1981   8332.0
...       ...
1598    888.0
1992    871.0
163     868.0
465     868.0
355     860.0

[200 rows x 4 columns]

Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits.

In [37]:
bilan_alim_imports = bilan_alim_imports.groupby(['produit_x']).sum()
bilan_alim_imports = bilan_alim_imports.sort_values('imports', ascending = False)
bilan_alim_imports = bilan_alim_imports.reset_index()
print(bilan_alim_imports[['produit_x', 'imports']])

              produit_x   imports
0                   Blé  148291.0
1                  Maïs   98041.0
2    Lait - Excl Beurre   87754.0
3         Sucre Eq Brut   34208.0
4       Légumes, Autres   28177.0
5   Oranges, Mandarines   22945.0
6        Huile de Palme   22327.0
7        Fruits, Autres   15774.0
8      Riz (Eq Blanchi)   15395.0
9               Bananes   10638.0
10              Tomates    7143.0
11  Poissons Pelagiques    6814.0
12               Manioc    2352.0
13               Ananas    2049.0
14        Huile de Soja    1108.0

Ensuite, calculez pour chaque produit les 2 quantités suivantes :
le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [38]:
bilan_alim_imports['ratio(autres/dispo_int)'] = bilan_alim_imports['autres']/bilan_alim_imports['dispo_int']
bilan_alim_imports['ratio(alim_anim/nourriture)'] = bilan_alim_imports['alim_animaux']/bilan_alim_imports['nourriture']
bilan_alim_imports = bilan_alim_imports.replace([-np.inf, np.inf], np.nan)
print(bilan_alim_imports[['produit_x', 'ratio(autres/dispo_int)', 'ratio(alim_anim/nourriture)']])

              produit_x  ratio(autres/dispo_int)  ratio(alim_anim/nourriture)
0                   Blé                 0.041870                     0.329296
1                  Maïs                 0.271498                     5.599651
2    Lait - Excl Beurre                 0.037695                     0.101331
3         Sucre Eq Brut                 0.057977                     0.000106
4       Légumes, Autres                 0.000000                     0.052568
5   Oranges, Mandarines                 0.000051                     0.000000
6        Huile de Palme                 0.726302                     0.000000
7        Fruits, Autres                 0.000638                     0.000000
8      Riz (Eq Blanchi)                 0.032099                     0.031568
9               Bananes                 0.000000                     0.000000
10              Tomates                 0.000000                     0.000000
11  Poissons Pelagiques                 0.000000                     1.004564
12               Manioc                 0.360037                     0.180866
13               Ananas                 0.000000                     0.000000
14        Huile de Soja                 0.180636                     0.000000

## Question 12 : Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

In [39]:
bilan_alim_imports = bilan_alim_imports.sort_values('ratio(autres/dispo_int)', ascending = False)
print(bilan_alim_imports['produit_x'].iloc[0:3])

6     Huile de Palme
12            Manioc
1               Maïs
Name: produit_x, dtype: object

In [40]:
bilan_alim_imports = bilan_alim_imports.sort_values('ratio(alim_anim/nourriture)', ascending = False)
print(bilan_alim_imports['produit_x'].iloc[0:3])

1                    Maïs
11    Poissons Pelagiques
0                     Blé
Name: produit_x, dtype: object

## Question 13 : Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

In [41]:
cereales_usa = bilan_alim.loc[bilan_alim['pays'] == 'États-Unis d\'Amérique']
cereales_usa = pd.merge(cereales_consommable, cereales_usa, on = ['produit_x', 'code_produit'])
cereales_tot_usa = cereales_usa['alim_animaux'].sum(skipna=True)
print('La production totale de céréales des USA pour l\'alimentation animale est de ' + str(cereales_tot_usa) + ' milliers de tonnes par an.')

prcent_tot_usa = cereales_tot_usa * 0.01
print('Si les USA diminuaient de 10% leur production,  ' + str(prcent_tot_usa) + ' milliers de tonnes de céréales seraient libérés par an.')

La production totale de céréales des USA pour l'alimentation animale est de 140096.0 milliers de tonnes par an.
Si les USA diminuaient de 10% leur production,  1400.96 milliers de tonnes de céréales seraient libérés par an.

## Question 14 : En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

In [42]:
thailande = bilan_alim.loc[(bilan_alim['pays'] == 'Thaïlande') & (bilan_alim['produit_x'] == 'Manioc')]
export_manioc_thailande = thailande['exports'].sum(skipna=True)
print('Proportion de manioc exportée par la Thaïlande : ' + str(export_manioc_thailande) + ' milliers de tonnes.')
thailande = pd.merge(thailande, sous_nutrition, on = ['pays', 'code_pays', 'annee', 'population'])
prcent_ss_nutr_thailande = round(((thailande['nb_habitants'].sum(skipna=True)* 1000) / thailande['population'].sum(skipna=True)) * 100, 2)
print('Pourcentage de thaïlandais sous-alimentés : ' + str(prcent_ss_nutr_thailande) +'%')

Proportion de manioc exportée par la Thaïlande : 25214.0 milliers de tonnes.
Pourcentage de thaïlandais sous-alimentés : 8.36%

In [43]:
thailande['kcal_exports'] = (thailande['exports'] * 1000000) * bilan_alim['ratio_energie']
manioc_kcal = thailande['kcal_exports'].sum(skipna=True)
nb_humain_manioc = round(manioc_kcal/(2000 * 365),2)
pourcentage_hab_manioc = round((nb_humain_manioc/67011000) * 100,2)
print('Cette quantité de manioc pourrait nourrir ' + str(nb_humain_manioc) + ' thaïlandais, soit ' + str(pourcentage_hab_manioc) + ' % de la population thaïlandaise.')

Cette quantité de manioc pourrait nourrir 98848147.01 thaïlandais, soit 147.51 % de la population thaïlandaise.

Entrez vos données dans une base de données relationnelle

In [44]:
#connexion avec la base de données "postgres" dans postgresql
%reload_ext sql
%sql postgresql://postgres:openclassrooms@localhost:5432/postgres
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:postgre@localhost:5432/postgres')

Votre base devra contenir ces différentes tables :

Une table appelée population, contenant la population de chaque pays pour 2013. Elle devra contenir 4 colonnes : 
pays, code_pays, annee, population

In [45]:
population = pd.read_csv("fr_population.csv", sep=",")
population = population[['Zone', 'Code zone', 'Année','Valeur']]
population = population.rename(columns = {'Zone' : 'pays', 
                                          'Code zone' : 'code_pays', 
                                          'Année' : 'annee',
                                          'Valeur': 'population'})
population['population']*=1000 #l'unité était par millier
population = population[population['code_pays'] != 351] #suppression aggrégation Chine
population.to_csv("population.csv", index = False)

In [46]:
population

                                       pays  code_pays  annee  population
0                               Afghanistan          2   2013    30552000
1                            Afrique du Sud        202   2013    52776000
2                                   Albanie          3   2013     3173000
3                                   Algérie          4   2013    39208000
4                                 Allemagne         79   2013    82727000
..                                      ...        ...    ...         ...
170  Venezuela (République bolivarienne du)        236   2013    30405000
171                                Viet Nam        237   2013    91680000
172                                   Yémen        249   2013    24407000
173                                  Zambie        251   2013    14539000
174                                Zimbabwe        181   2013    14150000

[174 rows x 4 columns]

In [47]:
population.drop_duplicates(subset='code_pays') #vérification qu'il n'y a pas de doublon dans code_pays

                                       pays  code_pays  annee  population
0                               Afghanistan          2   2013    30552000
1                            Afrique du Sud        202   2013    52776000
2                                   Albanie          3   2013     3173000
3                                   Algérie          4   2013    39208000
4                                 Allemagne         79   2013    82727000
..                                      ...        ...    ...         ...
170  Venezuela (République bolivarienne du)        236   2013    30405000
171                                Viet Nam        237   2013    91680000
172                                   Yémen        249   2013    24407000
173                                  Zambie        251   2013    14539000
174                                Zimbabwe        181   2013    14150000

[174 rows x 4 columns]

## Question 15 : Proposez une clé primaire pertinente pour cette table.

In [48]:
%%sql 
CREATE TABLE IF NOT EXISTS population (
    pays TEXT,
    code_pays INT,
    annee INT,
    population INT,
    PRIMARY KEY(code_pays, annee))

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [49]:
# Connexion avec psycopg2
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="openclassrooms",
    host="localhost",
    port="5432"
)

# Création d'un objet cursor
cur = conn.cursor()

# Importation des données du csv
with open('population.csv', 'r') as f:
    next(f)  # Skip the header row
    cur.copy_from(f, 'population', sep=',', columns=('pays', 'code_pays', 'annee', 'population'))
    conn.commit()

cur.close()
conn.close()

Une table appelée dispo_alim contenant pour chaque pays et pour chaque produit en 2013, les informations suivantes:
- la nature du produit (deux valeurs possibles : “animal” ou “végétal”)
- disponibilité alimentaire en tonnes
- disponibilité alimentaire en Kcal/personne/jour
- disponibilité alimentaire de protéines en g/personne/jour
- disponibilité alimentaire de matières grasses en g/personne/jour

Elle devra contenir ces colonnes : pays, code_pays, année, produit, code_produit, origin, dispo_alim_tonnes, dispo_alim_kcal_p_j, dispo_prot, dispo_mat_gr .

In [50]:
animaux = pd.read_csv("fr_animaux.csv", sep=",")
vegetaux = pd.read_csv("fr_vegetaux.csv", sep=",")

In [51]:
bilan_alim_anim = animaux
bilan_alim_anim['origin'] = 'animal'
bilan_alim_veg = vegetaux
bilan_alim_veg['origin'] = 'vegetal'
bilan_alim_anim = animaux.copy() 
bilan_alim_anim['origin'] = 'animal'
bilan_alim_veg = vegetaux.copy()  
bilan_alim_veg['origin'] = 'vegetal'
dispo_alim = pd.concat([bilan_alim_anim, bilan_alim_veg])

del bilan_alim_anim
del bilan_alim_veg
dispo_alim = pd.pivot_table(dispo_alim, index=['Code zone', 'Zone', 'Code Produit', 'Produit', 'origin'], columns = 'Élément', values = 'Valeur', aggfunc=np.sum).reset_index()
dispo_alim.columns.name = None
dispo_alim = dispo_alim.rename(columns = {'Zone' : 'pays', 
                                          'Code zone' : 'code_pays',
                                          'Année' : 'annee',
                                          'Produit' : 'produit', 
                                          'Code Produit' : 'code_produit', 
                                          'Disponibilité alimentaire en quantité (kg/personne/an)' : 'dispo_kg_p',
                                          'Disponibilité alimentaire (Kcal/personne/jour)' : 'dispo_alim_kcal_p_j',
                                          'Disponibilité de matière grasse en quantité (g/personne/jour)' : 'dispo_mat_gr',
                                          'Disponibilité de protéines en quantité (g/personne/jour)' : 'dispo_prot',})
dispo_alim = pd.merge(dispo_alim, population, on =['pays', 'code_pays'])
dispo_alim['dispo_alim_tonnes'] = dispo_alim['dispo_kg_p']/ 1000 * (dispo_alim['population']*1000)
dispo_alim = dispo_alim[['pays', 'code_pays', 'annee', 'produit', 'code_produit', 'origin', 'dispo_alim_tonnes', 'dispo_alim_kcal_p_j', 'dispo_prot', 'dispo_mat_gr']]
dispo_alim = dispo_alim[dispo_alim['code_pays'] != 351] #suppression aggrégation Chine
dispo_alim.to_csv("dispo_alim.csv", index = False)

## Question 16 : Proposez une clé primaire pertinente pour cette table.

In [52]:
%%sql
CREATE TABLE IF NOT EXISTS dispo_alim (
    pays TEXT,
    code_pays INT,
    annee INT,
    produit TEXT,
    code_produit INT,
    origin TEXT,
    dispo_alim_tonnes FLOAT,
    dispo_alim_kcal_p_j FLOAT,
    dispo_prot FLOAT,
    dispo_mat_gr FLOAT,
    PRIMARY KEY(code_pays, code_produit, annee));

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [53]:
import csv

input_file = 'dispo_alim.csv'
output_file = 'dispo_alim_modified.csv'

# Noms de colonnes où ajouter les guillements
columns_to_quote = ['produit']

with open(input_file, 'r', newline='', encoding='utf-8') as f_in, \
     open(output_file, 'w', newline='', encoding='utf-8') as f_out:
    reader = csv.reader(f_in)
    writer = csv.writer(f_out)
    header = next(reader)
    writer.writerow(header)
    for row in reader:
        for i, col in enumerate(row):
            if header[i] in columns_to_quote:
                row[i] = f'"{col}"'
        writer.writerow(row)

print("CSV file successfully modified.")

CSV file successfully modified.

In [54]:
dispo_alim_modified = pd.read_csv("dispo_alim_modified.csv", sep=",")
dispo_alim_modified

,pays,code_pays,annee,produit,code_produit,origin,dispo_alim_tonnes,dispo_alim_kcal_p_j,dispo_prot,dispo_mat_gr
0,Arménie,1,2013,"""Blé""",2511,vegetal,3.887962e+08,1024.0,30.52,3.60
1,Arménie,1,2013,"""Orge""",2513,vegetal,0.000000e+00,0.0,0.00,0.00
2,Arménie,1,2013,"""Maïs""",2514,vegetal,8.931000e+04,0.0,0.01,NaN
3,Arménie,1,2013,"""Seigle""",2515,vegetal,3.572400e+05,1.0,0.02,0.00
4,Arménie,1,2013,"""Avoine""",2516,vegetal,1.101490e+06,2.0,0.09,0.03
...,...,...,...,...,...,...,...,...,...,...
15410,Soudan,276,2013,"""Poissons Pelagiques""",2763,animal,0.000000e+00,0.0,0.00,0.00
15411,Soudan,276,2013,"""Poissons Marins, Autres""",2764,animal,4.935320e+06,0.0,0.04,0.01
15412,Soudan,276,2013,"""Riz (Eq Blanchi)""",2805,vegetal,4.821428e+07,14.0,0.28,0.05
15413,Soudan,276,2013,"""Lait - Excl Beurre""",2848,animal,5.892013e+09,315.0,15.75,20.01
15414,Soudan,276,2013,"""Miscellanees""",2899,vegetal,NaN,7.0,1.47,0.01

In [55]:
# suppression des virgules
df1 = pd.read_csv('dispo_alim_modified.csv')
df1['produit'] = df1['produit'].str.replace(',', '')
df1.to_csv('dispo_alim_modified_no_commas.csv', index=False)

In [56]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="openclassrooms",
    host="localhost",
    port="5432"
)

cur = conn.cursor()

with open('dispo_alim_modified_no_commas.csv', 'r') as f:
    next(f)  # Skip the header row
    cur.copy_from(f, 'dispo_alim', sep=',', columns=('pays', 'code_pays', 'annee', 'produit', 'code_produit', 'origin', 'dispo_alim_tonnes', 'dispo_alim_kcal_p_j', 'dispo_prot', 'dispo_mat_gr'), null='')
    conn.commit()

cur.close()
conn.close()

Une table appelée equilibre_prod contenant pour chaque pays et pour chaque produit en 2013, les quantités suivantes :
- disponibilité intérieure
- aliments pour animaux
- semences
- pertes
- transformés
- nourriture
- autres utilisations
Elle devra contenir ces colonnes : pays, code_pays, année, produit, code_produit, dispo_int, alim_ani, semences, pertes, transfo, nourriture, autres_utilisations.

In [57]:
bilan_alim_anim = animaux
bilan_alim_veg = vegetaux
equilibre_prod = pd.concat([bilan_alim_anim, bilan_alim_veg], ignore_index=True)
del bilan_alim_anim
del bilan_alim_veg
equilibre_prod = pd.pivot_table(equilibre_prod, index=['Code zone', 'Zone', 'Année', 'Code Produit', 'Produit'], columns = 'Élément', values = 'Valeur', aggfunc=np.sum).reset_index()
equilibre_prod.columns.name = None
equilibre_prod = equilibre_prod.rename(columns = {'Zone' : 'pays', 
                                          'Code zone' : 'code_pays',
                                          'Année' : 'annee',
                                          'Produit' : 'produit', 
                                          'Code Produit' : 'code_produit',
                                          'Disponibilité intérieure': 'dispo_int',
                                          'Aliments pour animaux' : 'alim_ani',
                                          'Semences' : 'semences',
                                          'Pertes' : 'pertes',
                                          'Traitement' : 'transfo',
                                          'Nourriture' : 'nourriture',
                                          'Autres utilisations (non alimentaire)' : 'autres_utilisations'})
equilibre_prod = equilibre_prod[['pays', 'code_pays', 'annee', 'produit', 'code_produit', 'dispo_int', 'alim_ani', 'semences', 'pertes', 'transfo', 'nourriture', 'autres_utilisations']]
equilibre_prod = equilibre_prod[equilibre_prod['code_pays'] != 351] #suppression aggrégation Chine
equilibre_prod.to_csv("equilibre_prod.csv", index = False)

## Question 17 : Proposez une clé primaire pertinente pour cette table.

In [58]:
%%sql
CREATE TABLE IF NOT EXISTS equilibre_prod (
    pays TEXT,
    code_pays INT,
    annee INT,
    produit TEXT,
    code_produit INT,
    dispo_int FLOAT,
    alim_ani FLOAT,
    semences FLOAT,
    pertes FLOAT,
    transfo FLOAT,
    nourriture FLOAT,
    autres_utilisations FLOAT,
    PRIMARY KEY (code_pays, code_produit, annee));

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [59]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="openclassrooms",
    host="localhost",
    port="5432"
)

cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS equilibre_prod (
    pays TEXT,
    code_pays INT,
    annee INT,
    produit TEXT,
    code_produit INT,
    dispo_int FLOAT,
    alim_ani FLOAT,
    semences FLOAT,
    pertes FLOAT,
    transfo FLOAT,
    nourriture FLOAT,
    autres_utilisations FLOAT,
    PRIMARY KEY (code_pays, code_produit, annee))
''')

with open('equilibre_prod.csv', 'r') as f:
    cur.copy_expert("COPY equilibre_prod FROM STDIN WITH CSV HEADER DELIMITER ','", f)
    conn.commit()

cur.close()
conn.close()

In [60]:
%%sql
SELECT * FROM equilibre_prod LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('ArmÃ©nie', 1, 2013, 'BlÃ©', 2511, 554.0, 93.0, 30.0, 32.0, 10.0, 389.0, 0.0),
 ('ArmÃ©nie', 1, 2013, 'Orge', 2513, 198.0, 137.0, 14.0, 15.0, 7.0, 0.0, 26.0),
 ('ArmÃ©nie', 1, 2013, 'MaÃ¯s', 2514, 102.0, 96.0, 0.0, 7.0, None, 0.0, None),
 ('ArmÃ©nie', 1, 2013, 'Seigle', 2515, 1.0, 1.0, 0.0, 0.0, None, 0.0, None),
 ('ArmÃ©nie', 1, 2013, 'Avoine', 2516, 6.0, 4.0, 0.0, 0.0, None, 1.0, None),
 ('ArmÃ©nie', 1, 2013, 'Millet', 2517, 0.0, 0.0, None, None, None, None, None),
 ('ArmÃ©nie', 1, 2013, 'Sorgho', 2518, 0.0, 0.0, None, None, None, None, None),
 ('ArmÃ©nie', 1, 2013, 'CÃ©rÃ©ales, Autres', 2520, 21.0, 1.0, 1.0, 1.0, None, 6.0, 12.0),
 ('ArmÃ©nie', 1, 2013, 'Pommes de Terre', 2531, 672.0, 225.0, 123.0, 96.0, 78.0, 134.0, 16.0),
 ('ArmÃ©nie', 1, 2013, 'Manioc', 2532, 0.0, 0.0, None, None, None, None, None)]

Une table appelée sous_nutrition, contenant le nombre de personnes en sous-alimentation pour chaque pays en 2013. Elle devra contenir 4 colonnes : pays, code_pays, année, nb_personnes.

In [61]:
sousalim = pd.read_csv('fr_sousalimentation.csv')

In [62]:
sous_nutrition = sousalim[['Zone', 'Code zone', 'Année', 'Valeur']]
sous_nutrition = sous_nutrition.rename(columns = {'Zone':'pays',
                                                  'Code zone' : 'code_pays', 
                                                  'Année' : 'annee',
                                                  'Valeur' : 'nb_personnes'})
sous_nutrition = sous_nutrition.replace('<0.1', 0)
sous_nutrition = sous_nutrition.dropna()
sous_nutrition = sous_nutrition[sous_nutrition['code_pays'] != 351] #suppression aggrégation Chine
sous_nutrition.to_csv("sous_nutrition.csv", index = False)

## Question 18 : Vous vous en doutez... proposez encore une fois une clé primaire pertinente pour cette table !

In [63]:
%%sql 
CREATE TABLE IF NOT EXISTS sous_nutrition (
    pays TEXT,
    code_pays INT,
    annee TEXT,
    nb_personnes FLOAT,
    PRIMARY KEY (code_pays, annee));

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [64]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="openclassrooms",
    host="localhost",
    port="5432"
)

cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS sous_nutrition (
    pays TEXT,
    code_pays INT,
    annee TEXT,
    nb_personnes FLOAT,
    PRIMARY KEY (code_pays, annee))
''')

with open('sous_nutrition.csv', 'r') as f:
    cur.copy_expert("COPY sous_nutrition FROM STDIN WITH CSV HEADER DELIMITER ','", f)
    conn.commit()

cur.close()
conn.close()

In [65]:
#Les 4 .csv sont désormais rassemblés dans une base de données "postgres", accessible dans postgresql.

## Question 19 : Écrivez les requêtes SQL permettant de connaître…

Les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant.

In [66]:
%%sql
SELECT 
    pays,
    sum((dispo_prot/1000)) AS dispo_prot_kg_per_jour
FROM dispo_alim
GROUP BY pays
ORDER BY dispo_prot_kg_per_jour DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Islande', 0.13305999999999998),
 ('Chine - RAS de Hong-Kong', 0.12906999999999996),
 ('IsraÃ«l', 0.128),
 ('Lituanie', 0.12436000000000005),
 ('Maldives', 0.12232),
 ('Finlande', 0.11755999999999998),
 ('Luxembourg', 0.11364000000000002),
 ('MontÃ©nÃ©gro', 0.11189999999999999),
 ('Pays-Bas', 0.11146),
 ('Albanie', 0.11137000000000002)]

In [67]:
%%sql
SELECT 
    pays,
    sum(dispo_alim_kcal_p_j) as dispo_alim_kcal_p_jour
FROM dispo_alim
GROUP BY pays, annee
ORDER BY dispo_alim_kcal_p_jour DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Autriche', 3770.0),
 ('Belgique', 3737.0),
 ('Turquie', 3708.0),
 ("Ã‰tats-Unis d'AmÃ©rique", 3682.0),
 ('IsraÃ«l', 3610.0),
 ('Irlande', 3602.0),
 ('Italie', 3578.0),
 ('Luxembourg', 3540.0),
 ('Ã‰gypte', 3518.0),
 ('Allemagne', 3503.0)]

Pour l'année 2013, les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant.

In [68]:
%%sql
SELECT 
    pays,
    sum((dispo_prot/1000)) AS dispo_prot_kg_per_jour
FROM dispo_alim
GROUP BY pays

ORDER BY dispo_prot_kg_per_jour ASC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('LibÃ©ria', 0.03765999999999999),
 ('GuinÃ©e-Bissau', 0.04405),
 ('Mozambique', 0.04568000000000002),
 ('RÃ©publique centrafricaine', 0.04603999999999999),
 ('Madagascar', 0.04669),
 ('HaÃ¯ti', 0.04770000000000001),
 ('Zimbabwe', 0.04832000000000002),
 ('Congo', 0.05140999999999999),
 ('Ouganda', 0.05264000000000002),
 ('Sao TomÃ©-et-Principe', 0.05310000000000001)]

La quantité totale (en kg) de produits perdus par pays en 2013.

In [69]:
%%sql 
SELECT pays, SUM((pertes)*1000) AS pertes_totales
FROM equilibre_prod
GROUP BY pays
ORDER BY pertes_totales DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Chine, continentale', 89575000.0),
 ('BrÃ©sil', 75914000.0),
 ('Inde', 55930000.0),
 ('NigÃ©ria', 19854000.0),
 ('IndonÃ©sie', 13081000.0),
 ('Turquie', 12036000.0),
 ('Mexique', 8289000.0),
 ('Ã‰gypte', 7608000.0),
 ('Ghana', 7442000.0),
 ("Ã‰tats-Unis d'AmÃ©rique", 7162000.0)]

Les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte.

In [70]:
%%sql
SELECT S.pays,((S.nb_personnes*1000000 /P.population)*100) as prop_sous_alim   
        FROM sous_nutrition S, population P
        WHERE P. code_pays = S. code_pays AND S. annee = '2012-2014'
        ORDER BY prop_sous_alim  DESC
        LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('HaÃ¯ti', 50.40224871571193),
 ('Zambie', 48.146364949446316),
 ('Zimbabwe', 46.64310954063604),
 ('RÃ©publique centrafricaine', 43.327556325823224),
 ('RÃ©publique populaire dÃ©mocratique de CorÃ©e', 42.57883109058044),
 ('Congo', 40.46762589928058),
 ('Tchad', 38.20662768031189),
 ('Angola', 37.72354694485842),
 ('LibÃ©ria', 37.26129482999534),
 ('Madagascar', 35.76881134133042)]

Les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé.

In [71]:
%%sql
SELECT produit, AVG(autres_utilisations/dispo_int) AS ratio
FROM equilibre_prod
WHERE dispo_int <> 0 AND autres_utilisations IS NOT NULL
GROUP BY produit
ORDER BY ratio DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Alcool, non Comestible', 0.9824561403508771),
 ('Plantes Aquatiques', 0.9206611570247933),
 ('Huile de Palmistes', 0.773645039477774),
 ('Piments', 0.7391304347826086),
 ('Huile de Palme', 0.6525201928105668),
 ('Huile de Colza&Moutarde', 0.6168654069356987),
 ('Palmistes', 0.5756249109989211),
 ('Huile de Coco', 0.5708937511900739),
 ('Huil Plantes Oleif Autr', 0.547179135005601),
 ('Huile de Son de Riz', 0.5029546758462421)]

## Question 20 : pour quelques uns des produits identifiés dans cette dernière requête SQL, supposez quelles sont ces "autres utilisations" possibles (recherchez sur internet !)

Alcool (éthanol): carburant, matière première (industrie chimique), antiseptique, solvant, utilisation médicale (en injection), liquide à basse température
https://fr.wikipedia.org/wiki/%C3%89thanol#Utilisation

Huile de palme: "À l'échelle mondiale, l’huile de palme est principalement utilisée dans l’industrie alimentaire (près de 70 %), dans l’oléochimie (savon, cosmétiques…) et en tant qu’agrocarburant (plus de 20 %)"
source: https://fr.wikipedia.org/wiki/Huile_de_palme

Piments : horticulture, médical, irritant chimique (lacrymogène), insecticide
https://fr.wikipedia.org/wiki/Piment#Utilisations

Enrichissez votre analyse
Lors de votre présentation, vous présenterez les pistes étudiées jusqu'à maintenant grâce aux données de la FAO. En réalité, vous n'êtes pas le/la premier·e à étudier ce phénomène (bien heureusement!). Veillez donc à bien confirmer vos intuitions par des recherches sur internet : votre mentor vous fournira des sources.

Pour une bonne analyse, le data analyst doit comprendre le domaine qu'il étudie. On appelle cela les  "connaissances métier". A partir des sources fournies par votre mentor, il vous sera donc également demandé de citer d'autres causes de la faim, et d'enrichir votre analyse de nouveaux chiffres. Si vous êtes motivés, vous pouvez même vérifier certains des chiffres citées dans les sources à partir des données de la FAO ;)
Notamment, cherchez les réponses à ces questions :

Combien de personnes décèdent des causes de la faim ?
Quelles sont les prévisions de population mondiale en 2050 ?