In [58]:
import psycopg2
import pgspecial

In [59]:
%reload_ext sql
%sql postgresql://postgres:postgre@localhost:5432/postgres
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:postgre@localhost:5432/postgres')
print(engine.table_names())

['population', 'dispo_alim', 'equilibre_prod', 'sous_nutrition']

<ipython-input-59-139140fd69ed>:5: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

Question 19 : Écrivez les requêtes SQL permettant de connaître…

Les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant.

In [60]:
%%sql
SELECT 
    pays,
    sum((dispo_prot/1000)) AS dispo_prot_kg_per_jour
FROM dispo_alim
GROUP BY pays
ORDER BY dispo_prot_kg_per_jour DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Islande', 0.13305999999999998),
 ('Chine - RAS de Hong-Kong', 0.12906999999999996),
 ('Israël', 0.128),
 ('Lituanie', 0.12436000000000005),
 ('Maldives', 0.12232),
 ('Finlande', 0.11755999999999998),
 ('Luxembourg', 0.11364000000000002),
 ('Monténégro', 0.11189999999999999),
 ('Pays-Bas', 0.11146),
 ('Albanie', 0.11137000000000002)]

In [61]:
%%sql
SELECT 
    pays,
    sum(dispo_alim_kcal_p_j) as dispo_alim_kcal_p_jour
FROM dispo_alim
GROUP BY pays, annee
ORDER BY dispo_alim_kcal_p_jour DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Autriche', 3770.0),
 ('Belgique', 3737.0),
 ('Turquie', 3708.0),
 ("États-Unis d'Amérique", 3682.0),
 ('Israël', 3610.0),
 ('Irlande', 3602.0),
 ('Italie', 3578.0),
 ('Luxembourg', 3540.0),
 ('Égypte', 3518.0),
 ('Allemagne', 3503.0)]

Pour l'année 2013, les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant.

In [62]:
%%sql
SELECT 
    pays,
    sum((dispo_prot/1000)) AS dispo_prot_kg_per_jour
FROM dispo_alim
GROUP BY pays

ORDER BY dispo_prot_kg_per_jour ASC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Libéria', 0.03765999999999999),
 ('Guinée-Bissau', 0.04405),
 ('Mozambique', 0.04568000000000002),
 ('République centrafricaine', 0.04603999999999999),
 ('Madagascar', 0.04669),
 ('Haïti', 0.04770000000000001),
 ('Zimbabwe', 0.04832000000000002),
 ('Congo', 0.05140999999999999),
 ('Ouganda', 0.05264000000000002),
 ('Sao Tomé-et-Principe', 0.05310000000000001)]

La quantité totale (en kg) de produits perdus par pays en 2013.

In [63]:
%%sql 
SELECT pays, SUM((pertes)*1000) AS pertes_totales
FROM equilibre_prod
GROUP BY pays
ORDER BY pertes_totales DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Chine, continentale', 89575000.0),
 ('Brésil', 75914000.0),
 ('Inde', 55930000.0),
 ('Nigéria', 19854000.0),
 ('Indonésie', 13081000.0),
 ('Turquie', 12036000.0),
 ('Mexique', 8289000.0),
 ('Égypte', 7608000.0),
 ('Ghana', 7442000.0),
 ("États-Unis d'Amérique", 7162000.0)]

Les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte.

In [64]:
%%sql
SELECT S.pays,((S.nb_personnes*1000000 /P.population)*100) as prop_sous_alim   
        FROM sous_nutrition S, population P
        WHERE P. code_pays = S. code_pays AND S. annee = '2012-2014'
        ORDER BY prop_sous_alim  DESC
        LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Haïti', 50.40224871571193),
 ('Zambie', 48.146364949446316),
 ('Zimbabwe', 46.64310954063604),
 ('République centrafricaine', 43.327556325823224),
 ('République populaire démocratique de Corée', 42.57883109058044),
 ('Congo', 40.46762589928058),
 ('Tchad', 38.20662768031189),
 ('Angola', 37.72354694485842),
 ('Libéria', 37.26129482999534),
 ('Madagascar', 35.76881134133042)]

Les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé.

In [65]:
%%sql
SELECT produit, AVG(autres_utilisations/dispo_int) AS ratio
FROM equilibre_prod
WHERE dispo_int <> 0 AND autres_utilisations IS NOT NULL
GROUP BY produit
ORDER BY ratio DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Alcool, non Comestible', 0.9824561403508771),
 ('Plantes Aquatiques', 0.9206611570247933),
 ('Huile de Palmistes', 0.773645039477774),
 ('Piments', 0.7391304347826086),
 ('Huile de Palme', 0.6525201928105668),
 ('Huile de Colza&Moutarde', 0.6168654069356987),
 ('Palmistes', 0.5756249109989211),
 ('Huile de Coco', 0.5708937511900739),
 ('Huil Plantes Oleif Autr', 0.547179135005601),
 ('Huile de Son de Riz', 0.5029546758462421)]

Question 20 : pour quelques uns des produits identifiés dans cette dernière requête SQL, supposez quelles sont ces "autres utilisations" possibles (recherchez sur internet !)

Alcool (éthanol): carburant, matière première (industrie chimique), antiseptique, solvant, utilisation médicale (en injection), liquide à basse température
https://fr.wikipedia.org/wiki/%C3%89thanol#Utilisation

Huile de palme: "À l'échelle mondiale, l’huile de palme est principalement utilisée dans l’industrie alimentaire (près de 70 %), dans l’oléochimie (savon, cosmétiques…) et en tant qu’agrocarburant (plus de 20 %)"
source: https://fr.wikipedia.org/wiki/Huile_de_palme

Piments : horticulture, médical, irritant chimique (lacrymogène), insecticide
https://fr.wikipedia.org/wiki/Piment#Utilisations

Enrichissez votre analyse
Lors de votre présentation, vous présenterez les pistes étudiées jusqu'à maintenant grâce aux données de la FAO. En réalité, vous n'êtes pas le/la premier·e à étudier ce phénomène (bien heureusement!). Veillez donc à bien confirmer vos intuitions par des recherches sur internet : votre mentor vous fournira des sources.

Pour une bonne analyse, le data analyst doit comprendre le domaine qu'il étudie. On appelle cela les  "connaissances métier". A partir des sources fournies par votre mentor, il vous sera donc également demandé de citer d'autres causes de la faim, et d'enrichir votre analyse de nouveaux chiffres. Si vous êtes motivés, vous pouvez même vérifier certains des chiffres citées dans les sources à partir des données de la FAO ;)
Notamment, cherchez les réponses à ces questions :

Combien de personnes décèdent des causes de la faim ?
Quelles sont les prévisions de population mondiale en 2050 ?